.object {
    display: inline-block;
    margin: 1ex;
    padding: 1ex;
    border: 1px solid gray;
    border-radius: 4px;
}
.tag, .tag-end {
    color: gray;
    font-style: italic;
    display: inline;
}
.tag {
    padding-right: 1ex;
}
.list {
    display: inline;
}
input {
    border: 1px solid lightgray;
    border-radius: 5px;
}